
@{
    ViewBag.Title = "Pleasewait";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div>
    <p>
        Congratulation! You are successfully registered . In few minutes <br />
        your email will be confirmed than you can login.
    </p>
</div>


